.star-wars {
    display: flex;
    justify-content: center;
    background-image: url("../assets/space_image.jpg");
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
  }

  .crawl {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }

  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }

  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  